head
	title 2048
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2")
	meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
	meta(name="Description" content="Author:SimonMa,Category:Personal Blog")
	link(rel="icon" href="https://tomotoes.com/images/blog/favicon.ico" type="image/x-icon")
	link(rel="shortcut icon" href="https://tomotoes.com/images/blog/favicon.ico" type="image/x-icon")
	
	script(async src="https://www.googletagmanager.com/gtag/js?id=UA-109696496-3")
	script.
		window.dataLayer = window.dataLayer || []
		function gtag() {
			dataLayer.push(arguments)
		}
		gtag('js', new Date())
		gtag('config', 'UA-109696496-3')