html {
	background-image: linear-gradient(90deg, #e9e9e9 0%, #ccc0b3 100%);
}


body {
	overflow: hidden;
  cursor: url("https://tomotoes.com/images/blog/default.cur"), auto !important;
}

img,
a {
  cursor: url("https://tomotoes.com/images/blog/pointer.cur"), auto !important;
}
