html {
	background-image: linear-gradient(180deg, #e9e9e9 0%, #ccc0b3 100%);
}

body {
	overflow: hidden;
	min-height: 100vh;
	cursor: url('https://tomotoes.com/images/blog/default.cur'), auto !important;
}

img,
a {
	cursor: url('https://tomotoes.com/images/blog/pointer.cur'), auto !important;
}
