@mixin Text($color: #666) {
	color: $color;
	font-weight: bold;
	text-shadow: 3px 1px 3px #bec1c4;
}

.fade {
	opacity: 0;
	transition: all 1s;
	transform: translateY(200px);
}

.fade.in {
	opacity: 1;
	transform: none;
}