#grid-container {
	width: 460px;
	height: 460px;
	padding: 20px;
	margin: 0 auto;
	background-color: #bbada0;
	border-radius: 10px;
	position: relative;
	box-shadow: 0px 1px 20px 0px #8f7a66;
	.grid-cell {
		width: 100px;
		height: 100px;
		border-radius: 6px;
		background-color: #ccc0b3;
		position: absolute;
	}
	.number-cell {
		z-index: 999;
		border-radius: 6px;
		font-weight: bold;
		font-size: 40px;
		line-height: 100px;
		text-align: center;
		position: absolute;
	}
}

@keyframes pop {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}
.cell-merged{
	animation: pop 200ms ease 100ms;
}
