header {
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-family: Arial;
	h1 {
		color: #776e65;
		font-family: 'Comic Sans MS', 'Helvetica Neue', 'Microsoft Yahei',
			'Microsoft Yahei', -apple-system, sans-serif;
		text-shadow: 0 0 2px #fafafa;
		margin: 0 auto -10px;
		letter-spacing: 2px;
	}
	p {
		display: inline-block;
		font-size: 18px;
		padding: 5px;
		border-radius: 5px;
		box-shadow: inset 0px 1px 20px 0px #8f7a66;
		text-shadow: 0 0 2px #ccc;
		background: #bbada0;
    color: #fff;
	}
	#score {
		@include Text(#f6f6f6);
	}
	#maxscore {
		@include Text(#f6f6f6);
	}
	@media screen and (max-width: 800px) {
		margin: 60px auto 15px;
	}
}
