head
	title 2048-Game
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=2")
	meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
	meta(name="Description" content="Author:SimonMa,Category:Personal Blog")
	link(rel="icon" href="https://tomotoes.com/images/blog/favicon.ico" type="image/x-icon")
	link(rel="shortcut icon" href="https://tomotoes.com/images/blog/favicon.ico" type="image/x-icon")
	
	script(async src="https://www.googletagmanager.com/gtag/js?id=UA-109696496-3")
	script.
		window.dataLayer = window.dataLayer || []
		function gtag() {
			dataLayer.push(arguments)
		}
		gtag('js', new Date())
		gtag('config', 'UA-109696496-3')

	<!--[if lt IE 9]>
	<style> .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px } .alert-danger { background-color: #f2dede; border-color: #ebccd1; color: #a94442; border-bottom: 1px solid #ebccd1 } .alert-link { color: #843534; font-weight: bold } .topframe { margin: 0; padding-left: 15px; padding-right: 15px; text-align: center; border-radius: 0; position: fixed; left: 0; right: 0; top: 0; z-index: 1000 } </style>
	<div class="alert alert-danger topframe"> 你的浏览器实在<strong>太太太太太太旧了</strong>，放学别走，升级完浏览器再说 <a target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a> </div>
	<script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
	<script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->