.button {
	color: #666;
	background-color: #eee;
	border-color: #eee;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	height: 40px;
	padding: 0 40px;
	margin: 0;
	display: inline-block;
	border: none;
	box-sizing: border-box;
	transition-property: all;
	transition-duration: 0.3s;
	font-size: 18px;
	font-weight: bold;
	user-select: none;
	letter-spacing: 3px;

	&:visited {
		color: #666;
	}
	&:hover,
	&:focus {
		background-color: #f6f6f6;
		text-decoration: none;
		outline: none;
	}
	&:active,
	&.active,
	&.is-active {
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
		text-decoration: none;
		background-color: #eeeeee;
		border-color: #cfcfcf;
		color: #d4d4d4;
		transition-duration: 0s;
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
	}
	&.disabled,
	&.is-disabled,
	&:disabled {
		top: 0 !important;
		background: #eee !important;
		border: 1px solid #ddd !important;
		text-shadow: 0 1px 1px white !important;
		color: #ccc !important;
		box-shadow: none !important;
		opacity: 0.8 !important;
	}
	&-primary {
		background-color: #bbada0;
		border-color: #bbada0;
		color: #fff;
		&:visited {
			color: #fff;
		}
		&:hover,
		&:focus {
			background-color: #bbada0;
			border-color: #bbada0;
			color: #fff;
		}
		&:active,
		&.active,
		&.is-active {
			background-color: #8f7a66;
			border-color: #8f7a66;
			color: #8f7a66;
		}
	}

	&-rounded {
		border-radius: 4px;
	}

	&-3d {
		position: relative;
		top: 0;
		box-shadow: 0 7px 0 #bbbbbb, 0 8px 3px rgba(0, 0, 0, 0.2);
		&:hover,
		&:focus {
			box-shadow: 0 7px 0 #bbbbbb, 0 8px 3px rgba(0, 0, 0, 0.2);
		}
		&:active,
		&.active,
		&.is-active {
			top: 5px;
			transition-property: all;
			transition-duration: 0.15s;
			box-shadow: 0 2px 0 #bbbbbb, 0 3px 3px rgba(0, 0, 0, 0.2);
		}
		&.button-primary {
			box-shadow: 0 7px 0 #8f7a66, 0 8px 3px rgba(0, 0, 0, 0.3);
		}
		&.button-primary:hover,
		&.button-primary:focus {
			box-shadow: 0 7px 0 #8f7a66, 0 8px 3px rgba(0, 0, 0, 0.3);
		}
		&.button-primary:active,
		&.button-primary.active,
		&.button-primary.is-active {
			box-shadow: 0 2px 0 #8f7a66, 0 3px 3px rgba(0, 0, 0, 0.2);
		}
	}
}

.button-border.button-primary,
.button-primary.button-border-thin,
.button-primary.button-border-thick,
.button-border-thin.button-primary,
.button-border-thick.button-primary {
	color: #bbada0;
}
.button-border.button-primary:hover,
.button-primary.button-border-thin:hover,
.button-primary.button-border-thick:hover,
.button-border.button-primary:focus,
.button-primary.button-border-thin:focus,
.button-primary.button-border-thick:focus,
.button-border-thin.button-primary:hover,
.button-border-thin.button-primary:focus,
.button-border-thick.button-primary:hover,
.button-border-thick.button-primary:focus {
	background-color: #bbada0;
	color: rgba(255, 255, 255, 0.9);
}
.button-border.button-primary:active,
.button-primary.button-border-thin:active,
.button-primary.button-border-thick:active,
.button-border.button-primary.active,
.button-primary.active.button-border-thin,
.button-primary.active.button-border-thick,
.button-border.button-primary.is-active,
.button-primary.is-active.button-border-thin,
.button-primary.is-active.button-border-thick,
.button-border-thin.button-primary:active,
.button-border-thin.button-primary.active,
.button-border-thin.button-primary.is-active,
.button-border-thick.button-primary:active,
.button-border-thick.button-primary.active,
.button-border-thick.button-primary.is-active {
	background-color: #bbada0;
	color: rgba(255, 255, 255, 0.5);
	opacity: 0.3;
}
